<ul style="list-style:none;" class="float-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="<%= gravatar_image(current_user.email)%>" class="profile-image img-circle"> <b class="caret" style="max-height: 50px;"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-cog"></i> Account</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-sign-out"></i> Sign-out</a></li>
        </ul>
    </li>
</ul>