<ul style="list-style:none;" class="float-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="<%= gravatar_image(current_user.email)%>" class="profile-image img-circle"> <b class="caret" style="max-height: 50px;"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to('Edit registration', edit_user_registration_path) %></li>
          <li class="divider"></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
    </li>
</ul>