.container {
	margin-top: 70px;
}

.img-circle {
	border-radius: 50%;
}

.profile-image {
	max-width: 50px;
}

.profile-image-sm {
	max-width: 20px;
}

.th {
	text-align: center;
}

.colored-item {
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
}
